* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 114, 219);
    font-family: Sofia;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    line-height: 90px;
}

.header h1 {
    display: inline;
    vertical-align: middle;
}


.logo {
    vertical-align: middle;
}

.riquadro-centrale {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;

}

.barra-iniziale {
    height: 70px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.27);
    line-height: 70px;

}

.add-blue {
    background-color: #46acf1;
    padding: 10px;
    display: inline;
    vertical-align: middle;
    border-radius: 5px;
    color: aliceblue;
    margin: 0 10px 0 60px;
}



.add-white {
    background-color: aliceblue;
    padding: 10px;
    display: inline;
    vertical-align: middle;
    border-radius: 5px;
    color: rgb(182, 186, 190);
    border: solid 1px rgb(153, 153, 153);
}

.liste {
    margin-left: 60px;
}

.liste h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    margin: 15px 0;
}

.spunta {
    font-size: 15px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 15px;
}

.spunta-verde {
    border: solid 1px #5fbda5;
    color: #5fbda5;
}

.spunta-rossa {
    border: solid 1px #ea5c56;
    color: #ea5c56;
}

.prima-lista p {
    display: inline-block;
    font-size: 25px;
}


.add {

    padding: 5px 10px;
    display: inline;
    vertical-align: middle;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    color: aliceblue;
}


.add-E {
    background-color: #46acf1;

}

.add-Q {
    background-color: #9b71e4;
}

.add-R {
    background-color: #63bfa9;
}

.add-M {
    background-color: #f19d32;
}

.add-W {
    background-color: #d863a1;
}

.add-S {
    background-color: #afc825;
}